@-webkit-keyframes ImageLoader {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes ImageLoader {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-o-keyframes ImageLoader {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes ImageLoader {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.mobile__nav::-webkit-scrollbar {
  width: 6px;
  height: 9px; }

.mobile__nav::-webkit-scrollbar-button {
  width: 0;
  height: 0; }

.mobile__nav::-webkit-scrollbar-thumb {
  background: #8c1515;
  border: 0 none #fff;
  border-radius: 30px; }

.mobile__nav::-webkit-scrollbar-thumb:hover {
  background: #8c1515; }

.mobile__nav::-webkit-scrollbar-thumb:active {
  background: #8c1515; }

.mobile__nav::-webkit-scrollbar-track {
  background: transparent;
  border: 0 none #fff;
  border-radius: 54px;
  opacity: 0; }

.mobile__nav::-webkit-scrollbar-track:hover {
  background: transparent; }

.mobile__nav::-webkit-scrollbar-track:active {
  background: transparent; }

.mobile__nav::-webkit-scrollbar-corner {
  background: transparent; }

body,
html {
  background: #0e0f11;
  color: #ecf0f1;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  margin-top: 25px; }

.nav__overlay {
  position: fixed;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99; }

.nav {
  background-color: rgba(0, 0, 0, 0.8);
  border-top: 3px solid #8c1515;
  padding: 10px 40px;
  transition: padding 250ms;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  line-height: 48px;
  vertical-align: middle; }
  .nav .mobile__trigger {
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    padding: 0 10px;
    position: relative;
    margin-left: 10px;
    top: 3px;
    display: none; }
  .nav .nav__logo {
    color: #8c1515;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    font-size: 38px;
    text-decoration: none;
    vertical-align: middle;
    margin: 0;
    padding: 0; }
  .nav .nav__dropdown,
  .nav .nav__form {
    display: inline-block;
    color: #8c1515;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 48px;
    position: relative; }
    .nav .nav__dropdown--right,
    .nav .nav__form--right {
      margin-right: 0;
      margin-left: 20px;
      float: right; }
      .nav .nav__dropdown--right .dropdown__menu,
      .nav .nav__form--right .dropdown__menu {
        left: auto;
        right: 0; }
  .nav .dropdown__trigger {
    display: block;
    color: #8c1515;
    font-weight: bold;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px; }
  .nav .dropdown__trigger:not(.dropdown__trigger--no-caret)::after {
    content: '\f0d7';
    margin-left: 5px;
    font-family: 'FontAwesome'; }
  .nav .dropdown__menu {
    display: none;
    position: absolute;
    left: 0;
    margin: 11px 0 0;
    list-style: none;
    line-height: normal;
    width: auto;
    max-width: auto;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    font-weight: normal;
    font-size: 14px;
    white-space: nowrap;
    padding: 0; }
    .nav .dropdown__menu a {
      color: #fff;
      text-decoration: none;
      padding: 7px 5px;
      display: block;
      width: 100%; }
  .nav .dropdown__item {
    width: auto;
    display: block;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 2px; }
    .nav .dropdown__item:last-child {
      padding-bottom: 6px; }
  .nav .dropdown__separator {
    height: 1px;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    width: 75%;
    margin: 4px auto; }
  .nav .notification__dropdown {
    color: #fff; }
    .nav .notification__dropdown .notification__icon::after {
      content: '\f0a2';
      font-family: 'FontAwesome';
      display: inline-block;
      color: #8c1515; }
    .nav .notification__dropdown.notification__dropdown--active .notification__icon::after {
      content: '\f0f3';
      color: #fff; }
  .nav .nav__input {
    background-color: transparent;
    border: 1px solid transparent;
    color: #fff;
    padding: 7px 25px 7px 5px;
    width: 50px;
    transition: all 350ms;
    outline: none;
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    text-align: left;
    cursor: pointer; }
    .nav .nav__input::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.2);
      font-weight: 100; }
    .nav .nav__input::-moz-placeholder {
      color: rgba(255, 255, 255, 0.2);
      font-weight: 100; }
    .nav .nav__input::-ms-placeholder {
      color: rgba(255, 255, 255, 0.2);
      font-weight: 100; }
    .nav .nav__input:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.2);
      font-weight: 100; }
    .nav .nav__input:-moz-placeholder {
      color: rgba(255, 255, 255, 0.2);
      font-weight: 100; }
    .nav .nav__input::placeholder {
      color: rgba(255, 255, 255, 0.2);
      font-weight: 100; }
    .nav .nav__input:focus, .nav .nav__input--active {
      width: 150px;
      border: 1px solid #8c1515;
      cursor: text;
      color: #fff; }
      .nav .nav__input:focus::-webkit-input-placeholder, .nav .nav__input--active::-webkit-input-placeholder {
        opacity: 0.8;
        color: #fff; }
      .nav .nav__input:focus::-moz-placeholder, .nav .nav__input--active::-moz-placeholder {
        opacity: 0.8;
        color: #fff; }
      .nav .nav__input:focus::-ms-placeholder, .nav .nav__input--active::-ms-placeholder {
        opacity: 0.8;
        color: #fff; }
      .nav .nav__input:focus:-ms-input-placeholder, .nav .nav__input--active:-ms-input-placeholder {
        opacity: 0.8;
        color: #fff; }
      .nav .nav__input:focus:-moz-placeholder, .nav .nav__input--active:-moz-placeholder {
        opacity: 0.8;
        color: #fff; }
      .nav .nav__input:focus::placeholder, .nav .nav__input--active::placeholder {
        opacity: 0.8;
        color: #fff; }
  .nav .nav__submit {
    background-color: transparent;
    border: 0;
    position: absolute;
    right: 0;
    top: 14px;
    cursor: pointer;
    outline: none; }
    .nav .nav__submit::after {
      content: '\f002';
      font-family: 'FontAwesome';
      font-size: 18px;
      font-weight: 100;
      color: #8c1515; }
  .nav .mobile__nav {
    position: fixed;
    top: 59px;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    z-index: 10;
    padding: 10px 0;
    font-size: 13px;
    overflow-y: scroll;
    line-height: initial;
    transition: left 250ms;
    padding-top: 0; }
    .nav .mobile__nav--opened {
      left: 0; }
    .nav .mobile__nav .mobile__menu {
      margin: 0;
      padding: 0;
      list-style: none;
      color: #fff;
      font-weight: normal;
      font-size: 14px; }
      .nav .mobile__nav .mobile__menu a {
        color: #fff;
        text-decoration: none;
        display: block;
        padding-top: 6px;
        padding-bottom: 6px;
        width: 100%; }
    .nav .mobile__nav .mobile__item {
      width: auto;
      display: block;
      overflow: hidden;
      padding-left: 37.5px;
      padding-right: 15px;
      margin-bottom: 2px; }
      .nav .mobile__nav .mobile__item--active {
        border-left: 3px solid #8c1515;
        padding-left: 34.5px; }
      .nav .mobile__nav .mobile__item--dropdown > a::after {
        content: '\f0d7';
        margin-left: 5px;
        font-family: 'FontAwesome'; }
    .nav .mobile__nav .mobile__separator {
      height: 1px;
      border-top: 1px solid rgba(255, 255, 255, 0.25);
      width: 100%;
      margin: 4px 0; }
    .nav .mobile__nav .mobile__dropdown {
      display: none;
      margin: 0;
      padding: 0 0 0 15px;
      list-style: none;
      color: #fff;
      font-weight: normal;
      font-size: 14px; }
      .nav .mobile__nav .mobile__dropdown .mobile__dropitem {
        display: block;
        width: 100%;
        margin-bottom: 2px; }
  @media (max-width: 1365px) {
    .nav {
      padding: 10px 30px; } }
  @media (max-width: 768px) {
    .nav {
      padding: 5px 20px;
      line-height: 43px; }
      .nav .nav__logo {
        font-size: 33px; }
      .nav .dropdown__menu {
        margin: 5px 0 0; }
      .nav .nav__dropdown,
      .nav .nav__form {
        margin-left: 5px;
        margin-right: 5px;
        line-height: 43px; }
        .nav .nav__dropdown--right,
        .nav .nav__form--right {
          margin-left: 10px; }
      .nav .dropdown__trigger {
        font-size: 14px; }
      .nav .dropdown__trigger {
        padding-left: 7.5px;
        padding-right: 7.5px; }
      .nav .dropdown__trigger:not(.dropdown__trigger--no-caret)::after {
        margin-left: 3px; }
      .nav .dropdown__item {
        padding-left: 7.5px;
        padding-right: 7.5px; }
      .nav .nav__submit {
        top: 12px; }
        .nav .nav__submit::after {
          font-size: 17px; } }
  @media (max-width: 670px) {
    .nav .nav__dropdown:not(.notification__dropdown) {
      display: none; }
    .nav .mobile__trigger {
      display: inline-block; } }
  @media (min-width: 671px) {
    .nav .mobile__nav {
      left: -250px !important; } }
  @media (max-width: 470px) {
    .nav .nav__form {
      display: none; } }

.row__master {
  width: 100%;
  overflow: hidden; }

.row__container {
  width: 100%;
  margin-top: 35px;
  margin-bottom: 35px; }
  .row__container:first-child {
    margin-top: 70px; }

.row__category {
  font-size: 20px;
  padding-left: 40px;
  padding-right: 40px; }

.row__inner {
  -webkit-transition: 450ms -webkit-transform;
  transition: all 450ms linear;
  font-size: 0;
  white-space: nowrap;
  z-index: 1;
  padding-left: 40px;
  padding-right: 40px;
  position: relative; }

@media (max-width: 1365px) {
  .row__category,
  .row__inner {
    padding-left: 30px;
    padding-right: 30px; } }

.row__outer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s ease-out, opacity 0.25s ease-in, padding 0.35s ease-out;
  opacity: 0;
  padding: 0 45px;
  position: relative;
  top: -3px;
  background: #0e0f11;
  background: -moz-linear-gradient(45deg, #0e0f11 0%, #8c1515 100%);
  background: -webkit-linear-gradient(45deg, #0e0f11 0%, #8c1515 100%);
  background: linear-gradient(45deg, #0e0f11 0%, #8c1515 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0f11', endColorstr='#8c1515', GradientType=1);
  color: #fff; }

.row__inner--active ~ .row__outer {
  max-height: 3000px;
  opacity: 1;
  padding: 20px 45px; }

.tile {
  position: relative;
  display: inline-block;
  width: 247.8px;
  height: 139.3875px;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: all 450ms;
  transition: all 450ms;
  -webkit-transform-origin: center left;
  transform-origin: center left;
  transition-delay: 0.3s;
  border: 3px solid transparent;
  z-index: 2;
  margin: -3px 2.5px 2.5px -3px;
  background-color: #0e0f11;
  backface-visibility: hidden;
  transform: translateZ(0); }
  .tile:hover .tile__details {
    opacity: 1; }

.tile--hovered {
  opacity: 1 !important; }

.tile--hovered-prev,
.tile--hovered-next {
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
  transition-delay: 0.3s; }

.row__inner--active .tile {
  transition-delay: 0s;
  opacity: 0.4; }

.row__inner--active .tile--active,
.row__inner--active .tile:hover {
  opacity: 1 !important; }

.row__inner--active .tile:hover .tile__img {
  opacity: 1; }

.row__inner--active .tile--active .tile__details {
  opacity: 1;
  display: block; }
  .row__inner--active .tile--active .tile__details .tile__title {
    font-size: 17px; }
  .row__inner--active .tile--active .tile__details .tile__rating .fa {
    font-size: 16px; }
  .row__inner--active .tile--active .tile__details .tile__description {
    opacity: 0;
    height: 0;
    display: none; }
  .row__inner--active .tile--active .tile__details .tile__chevron {
    opacity: 0; }

.tile__img {
  position: relative;
  width: 243.8px;
  height: 137.1375px;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 1;
  transition: all 0.3s ease;
  transition-delay: 0.3s; }

.row__inner--images-loading .tile__media::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11111;
  background: linear-gradient(47deg, #0e0f11, #1e2024, #0e0f11);
  background-size: 600% 600%;
  -webkit-animation: ImageLoader 14s linear 2;
  -moz-animation: ImageLoader 14s linear 2;
  -o-animation: ImageLoader 14s linear 2;
  animation: ImageLoader 14s linear 2;
  opacity: 1;
  transition: opacity 450ms linear; }

.row__inner--images-loading .tile__img {
  opacity: 1;
  display: none; }

.row__inner--images-loading-fadeout .tile__img {
  opacity: 1;
  display: block; }

.row__inner--images-loading-fadeout .tile__media::before {
  opacity: 0; }

.tile__details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 10px;
  opacity: 0;
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.01) 1%, rgba(0, 0, 0, 0.71) 100%);
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.01) 1%, rgba(0, 0, 0, 0.71) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.01) 1%, rgba(0, 0, 0, 0.71) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b5000000', GradientType=0);
  -webkit-transition: 450ms opacity;
  transition: 450ms opacity;
  overflow: hidden; }

.row__inner--active:hover .tile:not(.tile--sliding):hover .tile__details {
  opacity: 1; }

.row__inner--active:hover .tile:not(.tile--active):not(.tile--sliding) .tile__rating,
.row__inner--active:hover .tile:not(.tile--active):not(.tile--sliding) .tile__description {
  opacity: 0;
  display: none;
  -webkit-filter: blur(0);
  backface-visibility: hidden; }

.tile__content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px 5px 10px;
  width: calc(100% - 10px); }

.tile__title {
  font-weight: bold;
  font-size: 12px;
  width: 100%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.tile__rating {
  font-size: 8px;
  line-height: 20px;
  vertical-align: middle; }
  .tile__rating .fa {
    color: #8c1515; }

.tile__description {
  font-weight: normal;
  overflow: hidden;
  white-space: initial;
  font-size: 8px;
  width: 100%;
  text-align: justify; }

.tile__chevron {
  text-align: center;
  margin-bottom: -10px; }

.tile__chevron--down,
.tile__chevron--down path {
  height: 20px;
  width: 20px;
  transition: all 0.3s ease;
  fill: #fff; }

.tile__chevron:hover path {
  fill: #8c1515; }

.row__inner:not(.row__inner--images-loading):hover .tile:not(.tile--has-next):not(.tile--has-prev) {
  opacity: 0.6; }

.tile--active {
  border: 3px solid #fff;
  transition: all 450ms; }

.tile::after {
  transition: all 250ms;
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top: solid 10px transparent;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent; }

.tile--active::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top: solid 10px #fff;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent; }

.tile--has-next .tile__img,
.tile--has-prev .tile__img {
  opacity: 0; }

.tile__hasprev {
  display: block;
  color: #fff;
  content: '';
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  width: 101%;
  z-index: 10;
  background-color: #0e0f11;
  opacity: 1 !important;
  background-image: url("../img/svgs/left-chevron.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 20px 20px; }

.tile__hasnext {
  display: block;
  color: #fff;
  content: '';
  position: absolute;
  top: 0;
  left: -2px;
  bottom: 0;
  width: 101%;
  height: 100%;
  z-index: 10;
  background-color: #0e0f11;
  opacity: 1 !important;
  background-image: url("../img/svgs/left-chevron.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 20px 20px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH'; }

.preview__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-direction: row;
  height: inherit; }

.preview__section {
  flex: 1;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 50%;
  justify-content: center;
  align-items: center; }

.preview__section--left {
  max-width: 55%;
  width: 55%;
  margin-right: 5%; }

.preview__section--right {
  max-width: 40%;
  width: 40%; }

@media (max-width: 768px) {
  .preview__container,
  .preview__section,
  .preview__section--left,
  .preview__section--right {
    flex-direction: column;
    flex-grow: 2;
    flex-basis: 1;
    width: 100%;
    max-width: 100%;
    margin-right: 0; } }

.course__img {
  width: 100%;
  height: auto; }

.preview__title {
  font-size: 35px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;
  display: inline-block;
  color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  text-decoration: none;
  position: relative; }

.preview__title::after {
  content: '';
  display: block;
  margin: auto;
  height: 2px;
  width: 0;
  background: transparent;
  transition: width 0.25s ease-in, background-color 0.25s ease-out; }

.preview__title:hover::after {
  width: 100%;
  background: white; }

@media (max-width: 768px) {
  .preview__title {
    font-size: 27px;
    display: block;
    text-overflow: clip;
    overflow: visible;
    white-space: normal;
    width: 100%; }
  .preview__title::after {
    content: '';
    height: 0; }
  .preview__title:hover::after {
    width: 0;
    background: rgba(255, 255, 255, 0); }
  .row__inner {
    padding-left: 40px;
    padding-right: 40px; }
  .row__category {
    padding-left: 40px;
    padding-right: 40px; } }

.preview__content {
  color: #ddd; }

.preview__rating {
  font-size: 18px;
  margin: 5px 0 10px;
  color: #8c1515;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.9); }

.preview__about,
.preview__certificate,
.preview__teachers {
  margin: 7px 0;
  color: #fff;
  font-size: 17px; }

.preview__list {
  list-style: none;
  list-style-position: inside;
  padding: 0;
  display: inline; }

.preview__item {
  width: auto;
  display: inline; }

.preview__item:not(:last-child)::after {
  content: ', '; }

.preview__url {
  color: #fff;
  text-decoration: none; }

.preview__url:hover {
  text-decoration: underline; }

.preview__description {
  font-size: 15px; }

.preview__cta {
  margin-top: 5px;
  margin-bottom: 15px; }

.button__white {
  display: inline-block;
  padding: 10px 15px;
  font-weight: 17px;
  color: rgba(255, 255, 255, 0.85);
  border: 1px solid #fff;
  text-decoration: none;
  transition: all 250ms ease; }

.button__white:hover {
  background-color: rgba(140, 21, 21, 0.5);
  color: white; }

.preview__container--changing .preview__take-course {
  border-color: transparent; }

.preview__container--changing .preview__title,
.preview__container--changing .preview__teachers,
.preview__container--changing .preview__list,
.preview__container--changing .preview__url,
.preview__container--changing .preview__about,
.preview__container--changing .preview__certificate,
.preview__container--changing .preview__cta,
.preview__container--changing .preview__rating {
  display: inline;
  color: transparent;
  position: relative;
  text-shadow: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default; }

.preview__container--changing .fa {
  display: none;
  opacity: 0; }

.preview__container--changing .preview__description > *,
.preview__container--changing .preview__cta > * {
  color: transparent;
  position: relative;
  text-shadow: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

.preview__container--changing .preview__title::after {
  height: 0; }

.preview__container--changing .preview__title:hover::after {
  background: rgba(255, 255, 255, 0);
  opacity: 0; }

.preview__container--changing .preview__title::before,
.preview__container--changing .preview__teachers::before,
.preview__container--changing .preview__list::before,
.preview__container--changing .preview__about::before,
.preview__container--changing .preview__certificate::before,
.preview__container--changing .preview__cta::before,
.preview__container--changing .preview__cta > *::before,
.preview__container--changing .preview__description > *::before,
.preview__container--changing .preview__rating::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11111;
  background: linear-gradient(47deg, #0e0f11, #1e2024, #0e0f11);
  background-size: 600% 600%;
  -webkit-animation: ImageLoader 14s linear 2;
  -moz-animation: ImageLoader 14s linear 2;
  -o-animation: ImageLoader 14s linear 2;
  animation: ImageLoader 14s linear 2;
  opacity: 0.2;
  transition: opacity 450ms linear; }

.preview__container--changing .preview__title::after,
.preview__container--changing .preview__teachers::after,
.preview__container--changing .preview__list::after,
.preview__container--changing .preview__about::after,
.preview__container--changing .preview__certificate::after,
.preview__container--changing .preview__take-course::after,
.preview__container--changing .preview__description > *::after,
.preview__container--changing .preview__rating::after {
  display: block;
  height: 1px;
  clear: both;
  content: '\A'; }

.preview__container--changing .preview__section {
  position: relative; }
  .preview__container--changing .preview__section .course__img {
    opacity: 0; }

.preview__container--changing .preview__video::before,
.preview__container--changing .preview__image::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11111;
  background: linear-gradient(47deg, #0e0f11, #1e2024, #0e0f11);
  background-size: 600% 600%;
  -webkit-animation: ImageLoader 14s linear 2;
  -moz-animation: ImageLoader 14s linear 2;
  -o-animation: ImageLoader 14s linear 2;
  animation: ImageLoader 14s linear 2;
  opacity: 0.5;
  transition: opacity 0 linear; }

.preview__container--changing .embed-responsive {
  opacity: 0; }

.preview__container--changing .preview__list {
  opacity: 0; }

@media (max-width: 768px) {
  .tile--active .tile__details {
    opacity: 0 !important;
    display: none; } }

/**
 * VideoJS styling 
 */
.video-js .vjs-menu-button-inline.vjs-slider-active, .video-js .vjs-menu-button-inline:focus, .video-js .vjs-menu-button-inline:hover, .video-js.vjs-no-flex .vjs-menu-button-inline {
  width: 10em; }

.video-js .vjs-controls-disabled .vjs-big-play-button {
  display: none !important; }

.video-js .vjs-control {
  width: 3em; }

.video-js .vjs-menu-button-inline:before {
  width: 1.5em; }

.vjs-menu-button-inline .vjs-menu {
  left: 3em; }

.vjs-paused.vjs-has-started.video-js .vjs-big-play-button, .video-js.vjs-ended .vjs-big-play-button, .video-js.vjs-paused .vjs-big-play-button {
  display: block; }

.video-js .vjs-load-progress div, .vjs-seeking .vjs-big-play-button, .vjs-waiting .vjs-big-play-button {
  display: none !important; }

.video-js .vjs-mouse-display:after,
.video-js .vjs-play-progress:after {
  padding: 0 .4em .3em;
  border-radius: 0; }

.video-js.vjs-ended .vjs-loading-spinner {
  display: none; }

.video-js.vjs-ended .vjs-big-play-button {
  display: block !important; }

.video-js *,
.video-js:after,
.video-js:before {
  box-sizing: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit; }

.video-js.vjs-fullscreen,
.video-js.vjs-fullscreen .vjs-tech {
  width: 100% !important;
  height: 100% !important; }

.video-js {
  font-size: 14px;
  overflow: hidden; }

.video-js .vjs-control {
  color: inherit; }

.video-js .vjs-menu-button-inline:hover,
.video-js.vjs-no-flex .vjs-menu-button-inline {
  width: 8.35em; }

.video-js .vjs-volume-menu-button.vjs-volume-menu-button-horizontal:hover .vjs-menu .vjs-menu-content {
  height: 3em;
  width: 6.35em; }

.video-js .vjs-control:focus:before,
.video-js .vjs-control:hover:before {
  text-shadow: 0 0 1em #fff,0 0 1em #fff,0 0 1em #fff; }

.video-js .vjs-spacer,
.video-js .vjs-time-control {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.video-js .vjs-time-control {
  -webkit-box-flex: 0 1 auto;
  -moz-box-flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: auto; }

.video-js .vjs-time-control.vjs-time-divider {
  width: 14px; }

.video-js .vjs-time-control.vjs-time-divider div {
  width: 100%;
  text-align: center; }

.video-js .vjs-time-control.vjs-current-time {
  margin-left: 1em; }

.video-js .vjs-time-control .vjs-current-time-display, .video-js .vjs-time-control .vjs-duration-display {
  width: 100%; }

.video-js .vjs-time-control .vjs-current-time-display {
  text-align: right; }

.video-js .vjs-time-control .vjs-duration-display {
  text-align: left; }

.video-js .vjs-play-progress:before, .video-js .vjs-progress-control .vjs-play-progress:before, .video-js .vjs-remaining-time, .video-js .vjs-volume-level:after, .video-js .vjs-volume-level:before, .video-js.vjs-live .vjs-time-control.vjs-current-time, .video-js.vjs-live .vjs-time-control.vjs-duration, .video-js.vjs-live .vjs-time-control.vjs-time-divider, .video-js.vjs-no-flex .vjs-time-control.vjs-remaining-time {
  display: none; }

.video-js.vjs-no-flex .vjs-time-control {
  display: table-cell;
  width: 4em; }

.video-js .vjs-progress-control {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: .5em;
  top: -.5em; }

.video-js .vjs-progress-control .vjs-load-progress,
.video-js .vjs-progress-control .vjs-play-progress,
.video-js .vjs-progress-control .vjs-progress-holder {
  height: 100%; }

.video-js .vjs-progress-control .vjs-progress-holder {
  margin: 0; }

.video-js .vjs-progress-control:hover {
  height: 1em;
  top: -1em; }

.video-js .vjs-control-bar {
  -webkit-transition: -webkit-transform .1s ease 0s;
  -moz-transition: -moz-transform .1s ease 0s;
  -ms-transition: -ms-transform .1s ease 0s;
  -o-transition: -o-transform .1s ease 0s;
  transition: transform .1s ease 0s; }

.video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-active .vjs-control-bar, .video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive .vjs-control-bar, .video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-active .vjs-control-bar, .video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-control-bar, .video-js.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-control-bar {
  visibility: visible;
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(3em);
  -moz-transform: translateY(3em);
  -ms-transform: translateY(3em);
  -o-transform: translateY(3em);
  transform: translateY(3em);
  -webkit-transition: -webkit-transform 1s ease 0s;
  -moz-transition: -moz-transform 1s ease 0s;
  -ms-transition: -ms-transform 1s ease 0s;
  -o-transition: -o-transform 1s ease 0s;
  transition: transform 1s ease 0s; }

.video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-active .vjs-progress-control, .video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive .vjs-progress-control, .video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-active .vjs-progress-control, .video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-progress-control, .video-js.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-progress-control {
  height: .25em;
  top: -.25em;
  pointer-events: none;
  -webkit-transition: height 1s,top 1s;
  -moz-transition: height 1s,top 1s;
  -ms-transition: height 1s,top 1s;
  -o-transition: height 1s,top 1s;
  transition: height 1s,top 1s; }

.video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-active.vjs-fullscreen .vjs-progress-control, .video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive.vjs-fullscreen .vjs-progress-control, .video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-active.vjs-fullscreen .vjs-progress-control, .video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive.vjs-fullscreen .vjs-progress-control, .video-js.vjs-has-started.vjs-playing.vjs-user-inactive.vjs-fullscreen .vjs-progress-control {
  opacity: 0;
  -webkit-transition: opacity 1s ease 1s;
  -moz-transition: opacity 1s ease 1s;
  -ms-transition: opacity 1s ease 1s;
  -o-transition: opacity 1s ease 1s;
  transition: opacity 1s ease 1s; }

.video-js.vjs-live .vjs-live-control {
  margin-left: 1em; }

.video-js .vjs-big-play-button {
  top: 50%;
  left: 50%;
  margin-left: -1em;
  margin-top: -1em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  border: none;
  border-radius: 50%;
  font-size: 3.5em;
  background-color: rgba(0, 0, 0, 0.45);
  color: #fff;
  -webkit-transition: border-color .4s,outline .4s,background-color .4s;
  -moz-transition: border-color .4s,outline .4s,background-color .4s;
  -ms-transition: border-color .4s,outline .4s,background-color .4s;
  -o-transition: border-color .4s,outline .4s,background-color .4s;
  transition: border-color .4s,outline .4s,background-color .4s; }

.video-js .vjs-menu-button-popup .vjs-menu {
  left: -3em; }

.video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-content {
  background-color: transparent;
  width: 12em;
  left: -1.5em;
  padding-bottom: .5em; }

.video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-item, .video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-title {
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  padding: 5px;
  font-size: 12px;
  width: 50px; }

.video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-item.vjs-selected {
  background-color: rgba(255, 255, 255, 0.4); }

.video-js .vjs-big-play-button {
  background-color: rgba(140, 21, 21, 0.75);
  font-size: 3em;
  border-radius: 50%;
  height: 2em !important;
  line-height: 2em !important;
  margin-top: -1em !important;
  border: 3px solid #fff;
  transition: all 300ms ease !important; }

.video-js:hover .vjs-big-play-button,
.video-js .vjs-big-play-button:focus,
.video-js .vjs-big-play-button:active {
  background-color: rgba(140, 21, 21, 0.3);
  color: #fff;
  font-size: 4em;
  border: 2px solid #fff; }

.video-js .vjs-loading-spinner {
  border-color: white; }

.video-js .vjs-control-bar2 {
  background-color: #8c1515; }

.video-js .vjs-control-bar {
  background-color: rgba(0, 0, 0, 0.3) !important;
  color: #ffffff;
  font-size: 14px; }

.video-js .vjs-play-progress, .video-js .vjs-volume-level {
  background-color: #8c1515; }

/**
 * Helper classes 
 */
.inline {
  display: inline; }

.bred,
[bred] {
  /* Helpful selectors for knowing what you're working with */
  border: 1px solid red !important; }
