body,
html {
  margin: 0;
  padding: 0;
  background: #0e0f11;
  color: #ecf0f1;
  font-family: 'Open Sans', sans-serif;
  /* 100% vertical height of the viewport; required */
  min-height: 100vh;
}

.bred,
[bred] {
  /* Helpful selectors for knowing what you're working with */
  border: 1px solid red !important;
}

.row__master {
  /* ".row__master" will hold ALL the rows and tiles in a simpel container */
  width: 100%;
  overflow: hidden;
}

.row__container {
  /**
 * The row container class; renamed from "container" to ".row__container" to work with Bootstrap
 * The .row__container holds 2 children: .row__inner and .row__outer 
*/
  width: 100%;
  margin-top: 35px;
  margin-bottom: 35px;
}

.row__container:first-child {
  /**
 * Ensure proper padding at the top for scaling 
 */
  margin-top: 70px;
}

.row__category {
  /**
 * This is the <h2> element we see in index.html
 */
  font-size: 20px;
  /* Padding should be the SAME as the initial .row__inner padding */
  /* so the text lines up with the tiles */
  padding-left: 40px;
  padding-right: 40px;
}


.row__inner {
  /* The "inner row" (.row__inner) is where all the tiles live */
  -webkit-transition: 450ms -webkit-transform;
  transition: 450ms -webkit-transform;
  transition: 450ms transform;
  transition: 450ms transform, 450ms -webkit-transform;
  transition: all 450ms linear;
  font-size: 0;
  white-space: nowrap;
  z-index: 1;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
}

@media (max-width:1365px) {
  /* one px less than the break point found in main.js
    around this line: `if( _windowWidth >= 1366 ) {` */


  .row__category {
    /* Reduce row category padding */
    padding-left: 30px;
    padding-right: 30px;
  }

  .row__inner {
    /* Reduce row__inner padding */
    padding-left: 30px;
    padding-right: 30px;
  }
}


.row__outer {
  /* Styling for the "outer row". There are no tiles here, only details for the tiles. */
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.35s ease-out, opacity 0.25s ease-in, padding 0.35s ease-out;
  opacity: 0;
  padding: 0 45px;
  position: relative;
  top: -3px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0e0f11+0,8c1515+100 */
  background: rgb(14, 15, 17);
  /* Old browsers */
  background: -moz-linear-gradient(45deg, rgba(14, 15, 17, 1) 0%, rgba(140, 21, 21, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(14, 15, 17, 1) 0%, rgba(140, 21, 21, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(14, 15, 17, 1) 0%, rgba(140, 21, 21, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0f11', endColorstr='#8c1515', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  color: #fff;
}

.row__inner--active~.row__outer {
  /**
 * Styling for an "active" rows sibling; the "outer row".
 * These styles only take effect with a row has become active 
 */
  max-height: 3000px;
  opacity: 1;
  padding: 20px 45px;
}

.tile {
  /* The entire tile styling block. Probably lots of old unused styling in here, but it doesn't hurt to have it at the moment */
  position: relative;
  display: inline-block;
  width: 247.8px;
  height: 139.3875px;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: all 450ms;
  transition: all 450ms;
  -webkit-transform-origin: center left;
  transform-origin: center left;
  transition-delay: 0.3s;
  border: 3px solid transparent;
  z-index: 2;
  /* This keeps the 5px margin on the right and considers the 3px border (transparent at the moment) on the left and right */
  margin: -3px 2.5px 2.5px -3px;
  /* Set the tiles background color so the tile__media and tile__img are allowed to have translucency without the tile being translucent */
  background-color: #0E0F11;
  /* If you add overflow:hidden; it will hide the tile's down arrow. Just so you know. */
  /* According to some people, this helps with the text that blurs after scale() takes place in Chrome */
  backface-visibility: hidden;
  transform: translateZ(0);
}

.tile.tile--scale-center.tile--hover {
  /* A middle tile that's scaling outwards on both sides */
}

.tile.tile--scale-right.tile--hover {}

.tile.tile--scale-left.tile--hover {
  /* A tile on the right, scales out and to the left */
}

.tile--hovered {
  /* The currently hovered tile */
  opacity: 1 !important;
}

.tile.tile--hovered-prev,
.tile.tile--hovered-next {
  /* All tiles BEFORE the currently hovered tile */
  /* All tiles AFTER the currently hovered tile */
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
  transition-delay: 0.3s;
}

.row__inner--active .tile {
  /* An "active" rows styling for all of it's tiles */
  transition-delay: 0s;
}

.tile__img {
  /* The tiles image styling. */
  /* Width and height MUST match the parent .tile sizes */
  width: 243.8px;
  height: 137.1375px;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 1;
}

.row__inner--images-loading .tile__media::before {
  /**
 * Overlay the .tile__media selector with an animated gradient 
 */
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11111;
  background: linear-gradient(47deg, #0e0f11, #1e2024, #0e0f11);
  background-size: 600% 600%;
  -webkit-animation: ImageLoader 14s linear 2;
  -moz-animation: ImageLoader 14s linear 2;
  -o-animation: ImageLoader 14s linear 2;
  animation: ImageLoader 14s linear 2;
  opacity: 1;
  transition: opacity 450ms linear;
}

.row__inner--images-loading .tile__img {
  /* When images are loading, hide the actual image */
  opacity: 1;
  display: none;
}

.row__inner--images-loading-fadeout .tile__img {
  /**
 * When images are about to fadeout (as soon as this class is applied)
 * Make the image visible. This takes place just before the fadeout 
 * takes effect 
 */
  opacity: 1;
  display: block;
}

@-webkit-keyframes ImageLoader {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes ImageLoader {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-o-keyframes ImageLoader {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes ImageLoader {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

.row__inner--images-loading-fadeout .tile__media::before {
  /* The fade in effect after the images are done loading and the gradient bg animation fades away */
  opacity: 0;
}

.tile__details {
  /* Tile "details" is the container element for ALL the text inside a tile. This is that parent elemnts styling. */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 10px;
  opacity: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+1,000000+100&0+0,0.71+100 */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.01) 1%, rgba(0, 0, 0, 0.71) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.01) 1%, rgba(0, 0, 0, 0.71) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.01) 1%, rgba(0, 0, 0, 0.71) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b5000000', GradientType=0);
  /* IE6-9 */
  -webkit-transition: 450ms opacity;
  transition: 450ms opacity;
  overflow: hidden;
}

.tile:hover .tile__details {
  /* Tile "details" is the container element for ALL the text inside a tile. */
  /* When a tile is being hovered, the tile details will become visible (fade in) */
  opacity: 1;
}

.row__inner--active:hover .tile:not(.tile--sliding):hover .tile__details {
  /* When a row is hovered, and any tile is hovered, show the tile's details */
  /* This will be overwritten, but allows us to choose what's being seen */
  opacity: 1;
}

.row__inner--active:hover .tile:not(.tile--active):not(.tile--sliding) .tile__rating,
.row__inner--active:hover .tile:not(.tile--active):not(.tile--sliding) .tile__description {
  /* An "active" row that's being hovered, select all tiles that are NOT active, and hide the rating and description blocks */
  /* All other tiles will only show the tile__title, allowing the user to focus more on the tile instead of being swamped with tiny text and lots of data */
  /* Tile must not be "sliding" */
  opacity: 0;
  display: none;
  -webkit-filter: blur(0);
  backface-visibility: hidden;
}

.tile__content {
  /* Tiles have "content" areas with text in it. This is that area */
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px 5px 10px 5px;
  /* Remove 10px from the right AND left of this absolute element; leaving us with calc(100% - (10px + 10px)); */
  /* Edit: Halved the padding; adjusted below setting to 10px, from 20px */
  width: calc(100% - 10px);
}

.tile__title {
  /* A tiles title */
  font-weight: bold;
  white-space: initial;
  font-size: 12px;
  width: 100%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tile__rating {
  /* Tile rating styling */
  font-size: 8px;
  line-height: 20px;
  vertical-align: middle;
}

.tile__rating .fa {
  /* Changes all font-awesome text to Arkmont red */
  color: #8c1515;
}

.tile__description {
  /* A tiles description */
  font-weight: normal;
  overflow: hidden;
  white-space: initial;
  font-size: 8px;
  width: 100%;
  text-align: left;
  text-align: justify;
}

.tile__chevron {
  /* The chevron styling inside a tile. */
  text-align: center;
  margin-bottom: -10px;
}

.tile__chevron--down,
.tile__chevron--down path {
  /* The tile chevron selector; and the child svg path styling */
  height: 20px;
  width: 20px;
  transition: all 0.3s ease;
  fill: #fff;
}

.tile__chevron:hover path {
  /* When a tile's chevron arrow is hovered, make the array fade to Arkmont red. */
  fill: #8c1515;
}

.row__inner:not(.row__inner--images-loading):hover .tile:not(.tile--has-next):not(.tile--has-prev) {
  /* Any row that's being hovered should have translucent tiles in that row to focus on one tile at a time */
  opacity: 0.6;
}

.tile__img {
  /* All non-active rows that are being hovered with a tile that's being hovered. Make the tile larger. */
  /* Styling for the image block */
  transition: all 0.3s ease;
  transition-delay: 0.3s;
  opacity: 1;
}

.tile:hover .tile__img {
  /* When a tile is hovered, make the tile__img 25% translucent so the white text shows up better */
  opacity: 1;
}

.row__inner.row__inner--active .tile {
  /* All non-active rows with a tile that's being hovered over.. select the OTHER tiles and move them */
  /* The entire row is "active". Make all tiles translucent */
  opacity: 0.4;
}

.row__inner.row__inner--active .tile--active,
.row__inner.row__inner--active .tile:hover {
  /* The entire row is in an "active" state, select the active tile and the tile's "hover" state */
  opacity: 1 !important;
}

.tile--active {
  /* An active tile */
  border: 3px solid #fff;
  transition: all 450ms;
}

.tile:after {
  /* The .tile:after declarations MUST be very similar to the .tile--active:after declarations 
   In order to fade in the white down arrow. */
  transition: all 250ms;
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top: solid 10px transparent;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}

.tile--active::after {
  /* This is the drop-down arrow (not the chevron) */
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top: solid 10px #fff;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}

.tile--has-next .tile__img,
.tile--has-prev .tile__img {
  /* The "next" and "prev" tiles don't need any opacity. */
  /* This will hide any overflow from the image when screens change size */
  opacity: 0;
}

.tile__hasprev {
  /* The styling for the "previous page" stuff */
  display: block;
  color: #fff;
  content: '';
  position: absolute;
  top: 0;
  right: -2px;
  /* Use `bottom` instead of height:100% */
  bottom: 0;
  width: 101%;
  z-index: 10;
  background-color: #0E0F11;
  /* This is ALWAYS visible! */
  opacity: 1 !important;
  background-image: url('../img/svgs/left-chevron.svg');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 20px 20px;
}

.tile__hasnext {
  /* The styling for the "previous page" stuff */
  display: block;
  color: #fff;
  content: '';
  position: absolute;
  top: 0px;
  left: -2px;
  /* Use `bottom` instead of height:100% */
  bottom: 0;
  width: 101%;
  height: 100%;
  z-index: 10;
  background-color: #0E0F11;
  /* This is ALWAYS visible! */
  opacity: 1 !important;
  background-image: url('../img/svgs/left-chevron.svg');
  background-repeat: no-repeat;
  /* We position the BG image "right" on the x-axis because the flip (below) reverses the positioning */
  background-position: right center;
  background-size: 20px 20px;
  /* Flip this svg horizontally */
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}


/**
 *
 * STYLING FOR THE ROW__OUTER BOX CONTENTS
 * THIS IS NOT PART OF THE OPEN SOURCED UI; THIS IS WHERE WE'RE TAKING THIS
 * FEEL FREE TO IGNORE THE BELOW CODE; OR USE IT. :) 
 *
 */

.preview__container {
  /* Preview container */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-direction: row;
  height: inherit;
}

.preview__section {
  /* One of the 2 columns */
  flex: 1;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 50%;
  justify-content: center;
  align-items: center;
}

.preview__section--left {
  /* Left column */
  max-width: 55%;
  width: 55%;
  margin-right: 5%;
}

.preview__section--right {
  /* Right column */
  max-width: 40%;
  width: 40%;
}

@media (max-width:768px) {
  /* When on smaller devices; make the .row__outer columns turn into rows (like a responsive grid in BS) */
  .preview__container,
  .preview__section,
  .preview__section--left,
  .preview__section--right {
    flex-direction: column;
    flex-grow: 2;
    flex-basis: 1;
    width: 100%;
    max-width: 100%;
    margin-right: 0;
  }
}

.course__img {
  /* The course image (preview image) */
  width: 100%;
  height: auto;
}

.course__preview {
  /* The text content in the left column */
}

.preview__title {
  /* The course title */
  font-size: 35px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0px;
  cursor: pointer;
  display: inline-block;
  color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-shadow: 1px 1px o rgba(0, 0, 0, 0.5);
  text-decoration: none;
  position: relative;
  width:100%;
}

@media (max-width:768px) {
  .preview__title {
    font-size: 27px;
    display: block;
    text-overflow:clip;
    overflow: visible;
    white-space: normal;
    width:100%;
  }

  .row__inner {
    /* Reduce row__inner padding */
    padding-left: 50px;
    padding-right: 50px;
  }
  
  .row__inner--active~.row__outer {
  }

  .row__category {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.preview__title::after {
  /* Setup for animating the course title */
  content: '';
  display: block;
  /* Remove the margin to make the border slide left to right, by default */
  margin: auto;
  /* Height is the height of your border. */
  height: 2px;
  width: 0px;
  background: transparent;
  /* Change the speed by changing the `.5` to, for example, `2.5` */
  transition: width .25s ease-in, background-color .25s ease-out;
}

.preview__title:hover::after {
  /* Course title hover animation */
  width: 100%;
  background: rgba(255, 255, 255, 1);
}

.preview__content {
  /* The preview__content is the entire content area, except the title and course image */
  color: #ddd;
}

.preview__rating {
  /* Where the stars go */
  font-size: 18px;
  margin: 5px 0 10px 0;
  color: #8c1515;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.9);
}

.preview__about,
.preview__teachers {
  /* Lists */
  margin: 7px 0;
  color: #fff;
  font-size: 17px;
}

.preview__list {
  /* Lists */
  list-style: none;
  list-style-position: inside;
  padding: 0;
  display: inline;
}

.preview__item {
  /* List item <li> */
  width: auto;
  display: inline;
}

.preview__item:not(:last-child)::after {
  /* If using an <a> inside the <li>, remove all white space, otherwise commas 
  will have spacing before them */
  content: ", ";
}

.preview__url {
  /* a URL in the list */
  color: #fff;
  text-decoration: none;
}

.preview__url:hover {
  /* Hover state for the url in a preview section */
  text-decoration: underline;
}

.preview__description {
  /* The preview description */
  font-size: 15px;
}


/* The preview__title is changing */


/**
 * Below is used for making text areas hide with a translucent gradient background
 * This gives the user the "Oh text goes here but it's still loading" effect 
 */

.preview__container--changing .preview__title,
.preview__container--changing .preview__teachers,
.preview__container--changing .preview__list,
.preview__container--changing .preview__url,
.preview__container--changing .preview__about,
.preview__container--changing .preview__rating {
  /* Hide all the text */
  display: inline;
  color: transparent;
  position: relative;
  text-shadow: none;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  cursor: default;
}

.preview__container--changing .preview__description>* {
  /* Specifically change the .preview__description--changing class since it can have several children */
  color: transparent;
  position: relative;
  text-shadow: none;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

.preview__container--changing .preview__title:after {
  height: 0;
}

.preview__container--changing .preview__title:hover:after {
  background: rgba(255, 255, 255, 0);
  opacity: 0;
}

.preview__container--changing .preview__title::before,
.preview__container--changing .preview__teachers::before,
.preview__container--changing .preview__list::before,
.preview__container--changing .preview__about::before,
.preview__container--changing .preview__description>*::before,
.preview__container--changing .preview__rating::before {
  /* Add the animation to each element when a preview section is loading */
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11111;
  background: linear-gradient(47deg, #0e0f11, #1e2024, #0e0f11);
  background-size: 600% 600%;
  -webkit-animation: ImageLoader 14s linear 2;
  -moz-animation: ImageLoader 14s linear 2;
  -o-animation: ImageLoader 14s linear 2;
  animation: ImageLoader 14s linear 2;
  opacity: 0.2;
  transition: opacity 450ms linear;
}

.preview__container--changing .preview__title::after,
.preview__container--changing .preview__teachers::after,
.preview__container--changing .preview__list::after,
.preview__container--changing .preview__about::after,
.preview__container--changing .preview__description>*::after,
.preview__container--changing .preview__rating::after {
  /* Ignore this one: .preview__url::after, */
  display: block;
  height: 1px;
  clear: both;
  content: '\A';
}

.preview__container--changing .preview__section {
  /* Add a relative position to the preview section */
  position: relative;
}

.preview__container--changing .preview__section .course__img {
  /* Change the opacity of the image. It'll come back when ....--changing is removed*/
  opacity: 0;
}

.preview__container--changing .preview__image::before {
  /* A the animation to the preview__img class */
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11111;
  background: linear-gradient(47deg, #0e0f11, #1e2024, #0e0f11);
  background-size: 600% 600%;
  -webkit-animation: ImageLoader 14s linear 2;
  -moz-animation: ImageLoader 14s linear 2;
  -o-animation: ImageLoader 14s linear 2;
  animation: ImageLoader 14s linear 2;
  opacity: 0.5;
  transition: opacity 450ms linear;
}

.preview__container--changing .preview__list {
  /* Make the preview lists opaque; this way we don't get overlapping animated-gradient effects */
  opacity: 0;
}


/**
 * Helper classes 
 */

.inline {
  display: inline;
}
