// Modal

$modal-min-height: 10px;
$modal-max-height: 2000px;
$modal-animation: cubic-bezier(0.515, 0.61, 0.355, 1);
$modal-animation-time-in: 1.5s;
$modal-animation-time-out: .5s;

@keyframes grow {
  from {
    max-height: $modal-min-height;
    overflow: hidden;
  }

  to {
    max-height: $modal-max-height;
  }
}

@keyframes shrink {
  from {
    max-height: $modal-max-height;
    overflow: hidden;
  }

  to {
    max-height: $modal-min-height;
    overflow: hidden;
  }
}



.modal {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 101;
  display: flex;
  align-items: center;
  overflow-y: auto;
}

.modal__container {
  flex: 0 0 45%;
  margin: 0 auto;
  background-color: #8c1515;
  border: 1px solid #111;
  position: relative;
  margin-top: 10%;
  margin-bottom: 10%;

  // Center and grow up and down animation.
  // Actually, it's just a flexbox aligned vertically in the center
  // And the max height grows.
  animation-delay: .5s;
  -webkit-animation-duration: $modal-animation-time-in;
  animation-duration: $modal-animation-time-in;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: grow;
  animation-name: grow;
  animation-timing-function: $modal-animation;


  &[data-show-times='false'] {
    .modal__close {
      display: none;
    }
  }

  &--small {
    flex: 0 0 30%;
  }

  &--large {
    margin-top: 0%;
    flex: 0 0 70%;
  }
}

.modal__container--closing {
  animation-delay: 0s !important;
  -webkit-animation-duration: $modal-animation-time-out;
  animation-duration: $modal-animation-time-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: shrink;
  animation-name: shrink;
  animation-timing-function: cubic-bezier(0.515, 0.61, 0.355, 1);
}

// Any button with [data-model-label="cancel"] should be styled just a tad differently.
.modal .btn-cancel,
.modal [data-model-label="cancel"] {
  float: right;
  border: 0;
  opacity: 0.7;

  &:hover {
    background-color: transparent;
    opacity: 1;
  }
}

// If the browser isn't very tall, align the modal to the top
@media (max-height:400px) {
  .modal {
    align-items: flex-start;
  }
}

.modal__close {
  position: absolute;
  top: 0;
  right: 0;
  content: '\f00d';
  font-family: 'FontAwesome';
  padding: 10px;
  cursor: pointer;
}

.modal__head,
.modal__body,
.modal__footer {
  padding: 10px;
  color: #fff;
  padding: 15px 10px;
}

.modal__head {
  border-bottom: 1px solid #111;
  background-color: $secondary-background-color;
}


.modal__body {
  font-size: 14px;
}

.modal__footer {
  border-top: 1px solid #111;
  background-color: $secondary-background-color;

  .btn ~ .btn {
    margin-left: 5px;
  }
}

@media (max-width: $bp-md) {
  .modal__container {
    flex: 0 0 70% !important;
  }
}

@media (max-width: $bp-sm) {
  .modal__container {
    flex: 0 0 90% !important;
  }
}
