// Mobile menu navigation
.mobile__nav {
  &::-webkit-scrollbar {
    width: 6px;
    height: 9px;
  }

  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }

  &::-webkit-scrollbar-thumb {
    background: #8c1515;
    border: 0 none #fff;
    border-radius: 30px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #8c1515;
  }

  &::-webkit-scrollbar-thumb:active {
    background: #8c1515;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
    border: 0 none #fff;
    border-radius: 54px;
    opacity: 0;
  }

  &::-webkit-scrollbar-track:hover {
    background: rgba(0, 0, 0, 0);
  }

  &::-webkit-scrollbar-track:active {
    background: rgba(0, 0, 0, 0);
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}
