// VENDOR - Default fall-backs and external files.
// ==========================================================================

@import 'vendor/normalize';


// BASE - Base Variable file along with starting point Mixins and Placeholders.
// ==========================================================================

@import 'base/variables';
@import 'base/mixins';
@import 'base/placeholders';
@import 'base/animations';
@import 'base/scrollbars';
@import 'base/setup';

// Required before additional styling.
@import 'extras/videojs';


// FRAMEWORK - Structure and layout files.
// ==========================================================================

@import 'layout/nav';
@import 'layout/tiles';
@import 'layout/banner';
@import 'layout/footer';
@import 'layout/profile';
@import 'layout/course_inner';
@import 'layout/video_page';
// @import 'framework/sample';

// MODULES - Re-usable site elements.
// ==========================================================================

@import 'modules/buttons';
@import 'modules/modal';
@import 'modules/notifications';
@import 'modules/image_preloader';
@import 'modules/flexboxes';

// PAGES - Full pages that need to be broken down later.
// ==========================================================================

@import 'pages/course_landing_page';
@import 'pages/course_quiz_page';

// EXTRAS - Helpful styles
// ==========================================================================

@import 'extras/helpers';

.rate__label {
	display: inline-block;
	width: 30%;
	border:1px solid red;
	padding: 5px;
	font-size: 16px;
}
