// Helper classes
.inline {
  display: inline;
}

// Red border. Was initially used, probably best to go with a white border at this point.
.bred,
[bred] {
  // Helpful selectors for knowing what you're working with
  border: 1px solid red !important;
}

.text--small {
  font-size: 13px;
}

.text--gold {
  color: $arkmont-gold;
}

.float--right {
  float: right;
}

.img__responsive {
  width: 100%;
  height: auto;
}

@media (max-width: $bp-sm) {
  .hidden--sm {
    display: none;
  }
}

