// Helper classes
.inline {
  display: inline;
}

.hidden, .display--none {
  display: none;
}


// Red border. Was initially used, probably best to go with a white border at this point.
.bred,
[bred] {
  // Helpful selectors for knowing what you're working with
  border: 1px solid red !important;
}

.p-20 {
  padding: 20px;
}

.p-t-b-10 {
  padding-top: 10px;
  pdding-bottom: 10px;
}

.text--small {
  font-size: 13px;
}

.text--gold {
  color: $arkmont-gold;
}

.text--red {
  color: $arkmont-red;
}

.text--center {
  text-align: center;
}

.text--right {
  text-align: right;
}

.float--right {
  float: right;
}

.cursor--pointer {
  cursor: pointer;
}

.img__responsive {
  width: 100%;
  height: auto;
}

.center {
  display: block;
  margin: 0 auto;
}

.no--bold {
  font-weight: normal;
}

@media (max-width: $bp-sm) {
  .hidden--sm {
    display: none;
  }
}

@media (max-width: $bp-md) {
  .hidden--md {
    display: none;
  }
}

@media (max-width: $bp-lg) {
  .hidden--lg {
    display: none;
    border:2px solid red;
  }
}
