.discussion {
  background-color: $secondary-background-color;
  padding: 10px;
  margin-bottom: 30px;
  clear: both;
}

.discussion--clear {
  background-color: transparent;
}

.discussion--inner {
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  margin-bottom: 5px;
  padding-bottom: 15px;
}

.discussion__title {
  display: block;
  font-size: 17px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  padding-bottom: 5px;
  margin-bottom: 5px;
  transition: color 250ms;

  &:hover:not(.discussion__title--no-hover) {
    color: $arkmont-gold;
  }

  .fa {
    float: right;
  }
}

.discussion__title--large {
  font-size: 21px;
}

.discussion__details {
  font-size: 14px;
  margin-bottom: 10px;
}

.discussion__comments {
  font-size: 15px;
  padding: 20px;
  display: none;
}

@media (max-width: $bp-ms) {
  .discussion__comments {
    padding: 10px;
  }
}

.discussion__author {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.85);

  a {
    color: #fff;
    text-decoration: none;
    transition: color 250ms;
    font-weight: bold;

    &:hover {
      color: $arkmont-gold;
    }
  }
}

.document__content,
.discussion__announcement,
.discussion__preview {
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  display: block;

  a {
    @extend .discussion__preview;
  }
}

.document__content {
  a {
    text-decoration: underline;
    display: inline;
  }

}

// If the author block comes before the preview block, give extra spacing.
.discussion__author + .discussion__preview {
  margin-top: 10px;
}

.discussion__stars {
  color: $arkmont-red;
}

.discussion__stars--gold {
  color: $arkmont-gold;
}

// This could be a rich text area and we need to make sure everything is supported normally.
// This requires a lot of nesting.
.comment__container,
.discussion__announcement {
  p {
    color: #fff;
  }

  b,
  strong {
    font-weight: bold;
  }

  i,
  em {
    font-style: italic;
  }

  a {
    color: #fff;
    text-decoration: underline;
    transition: color 250ms;

    &:hover {
      color: $arkmont-gold;
    }
  }

  img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
  }

  hr {
    height: 1px;
    background-color: transparent;
    border: 0;
    border-top: 1px solid #fff;
  }
}

.discussion__pagination {
  text-align: center;
}

.discussion__page {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 5px;
  line-height: 18px;
  vertical-align: middle;
}

.discussion__page--active {
  color: $arkmont-gold;
  font-weight: bold;
}

.discussion__page--prev,
.discussion__page--next {
  font-weight: 100;
  font-size: 9px;
}


.review__boxes {
  display: flex;
  width: 100%;
}

.review__box {
  flex: 0 1 50%;
}

.review__box--left {
  flex-basis: 15%;
  text-align: center;
  padding-right: 10px;

  img {
    width: 100%;
    height: auto;
  }
}

.comment {
  border-left: 3px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 20px;
}

.comment__headline {
  display: block;
  margin-bottom: 10px;
}

.comment__author {
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  transition: color 150ms;

  &:hover {
    color: $arkmont-gold;
  }
}

.comment__textarea {
  border: 1px solid $arkmont-red;
  background-color: transparent;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 15px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
  font-weight: bold;

  &--small {
    font-size: 13px;
    height: 40px;
  }
}

@media (max-width: $bp-sm) {
  .comment__textarea {
    font-size: 14px;
    padding: 10px;
  }
}

.discussion__new {
  display: none;
  margin-top: -20px;
}

.discussion--none {
  padding-bottom: 20px;
  text-align: center;
}

.noteslist {
  li {
    margin-bottom: 10px;
  }
}

.review__box--right {
  flex: 1 1 auto;
}

.review__selectstars {
  font-size: 20px;
  margin-bottom: 10px;
  word-spacing: 0;

  .star::after {
    content: '\f005';
    font-family: 'FontAwesome';
    color: $arkmont-gold;
  }

  .star {
    &:hover ~ .star::after {
      content: '\f006';
    }
  }

  .star--selected {
    ~ .star::after {
      content: '\f006';
    }
  }
}

// .noteslist {}

.note__link {
  color: #fff;
  text-decoration: none;
  width: 100%;
}

.note__time {
  float: right;
  font-size: 13px;
  margin-top: 3px;
}

.review__input {
  background-color: $primary-background-color;
  resize: none;
  height: 50px;
  padding: 5px;
  font-size: 15px;
}

.review__error {
  font-size: 14px;
  float: left;
  padding: 0;
  color: #fff;
  opacity: 0;
  max-height: 1px;
  transition: opacity 150ms, max-height 150ms, padding 150ms;
}

.review__error--visible {
  opacity: 1;
  max-height: 3000px;
  padding: 10px 0;
}

.review__submit {
  text-align: right;
}

@media (max-width: 720px) {
  .review__box--left {
    display: none;
  }

  .review__error {
    float: none;
  }

  .review__submit {
    text-align: left;
  }
}

.document__notes {
  float: right;
  width: 28%;
  margin-right: 2%;
  display: inline-block;
}

.document__column {
  width: 70%;
  display: inline-block;
}

.document__container {
  padding: 0 45px;
}

.notes__section {
  padding: 0 20px;
}

.note__container {
  overflow-y: scroll;
  min-height: 200px;
  max-height: 200px;
  padding-right: 5px;
}

@media (max-width: $bp-lg) {
  .document__column {
    width: 100%;
    display: block;
    padding-top: 10px;
  }

  .document__notes {
    float: none;
    display: block;
    width: 100%;
    max-height: auto !important;
    min-height: auto;
    height: auto;
    margin-right: 0;
  }

  .note__container {
    min-height: auto;
    height: auto;
    max-height: initial !important;
    padding-right: 0;
    margin-bottom: 30px;
  }

  .notes__section {
    padding: 0 45px;
  }
}
