body,
html {
  background: $background-color;
  color: $default-font-color;
  font-family: $default-font;
  margin: 0;
  padding: 0;
  // 100% vertical height of the viewport; required
  min-height: 100vh;
  height: 100%;
  -webkit-font-smoothing: antialiased;


  // Hide all scrolling. Used with modals.
  &.no-scroll {
    overflow: hidden !important;
  }
}

body {
  // Add a padding-top to offset the navigation
  padding-top: 25px;
}

a {
  cursor: pointer;
}

a.disabled,
a[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

textarea {
  width: calc(100% - 2px);
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  border: 1px solid #fff;
  font-size: 14px;
  outline: 0;
  color: rgba(255, 255, 255, 0.7);
}

// All certificate icons are gold.
.fa-certificate,
.fa-trophy {
  color: $arkmont-gold;
}

// Always hide the .ie__warning.
// ie.css will display it again.
.ie__warning {
  display: none;
}

hr {
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

code,
kbd {
  border: 1px solid $arkmont-red;
  border-radius: 1px;
  padding: 2px 5px;
  font-size: 90%;
  display: inline-block;
}


@media( max-width: $bp-md) {
  .hidden__md {
    display: none;
  }
}
